
// design colors

$dark-blue: #083565;
$light-blue: #f4f9ff;
$sky-blue: #73b7ff;
$mid-blue: #d7e7f9;
$mid-blue2: #1f5b9b;
$mid-dark-blue: #074a90;
$mid-dark-blue2: #0d4e93;
$mid-dark-blue3: #105094;

$blue-opacity: #1f5b9b66;

$orange: #ff8000;
$dark-green: #046e17;
$light-green: #72ff5d;
$dark-yellow: #f5d44b;
$yellow-light: #ffdd54;

$white: #ffffff;
$black: #000000;
$black1: #161f29;
$black2: #333333;
$black3: #313131;
$black4: #393939;

$red : #c60001;
$red1: #c50d0e;
$red2: #ff5455;
$red3: #ff545d;
$red4: #e76854;
$link-red: #9b1727;
$link-red2: #a23423;

$dark-grey: #6f6f6f;
$mid-grey: #bcbcbc;
$mid-grey2: #acacac;
$light-grey: #d9d9d9;
$light-grey2: #c5c5c5;

$light-pink: #ffdddf;
$pink-opacity: #9b213166;

$shadow: 10px 10px 30px #161f2933;
$shadow2: 10px 10px 20px #00000029;
$shadow3: 10px 10px 20px #00000033;